<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>registrationServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authanticateServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.servlets.AuthenticateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrationServlet</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>profileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authanticateServlet</servlet-name>
        <url-pattern>/authentication</url-pattern>
    </servlet-mapping>


</web-app>