*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    background-color: #fff;
}

#header{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    text-align: center;
}

#wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
}

#profile{
    margin-left: 20%;
    margin-right: 20%;
    border: groove 3px black;
    padding: 20px;
    text-align: center;
}

#information{
    text-align: left;
    font-size: 16pt;
}

#about{
    text-align: center;
    border: solid black 1px;
    padding: 30px;
}

#exit{
    padding: 20px;
}

#exit_but{
    border: groove 3px dodgerblue;
    width: 150px;
    font-size: 13pt;
}


