<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <servlet>
        <servlet-name>ServletForm</servlet-name>
        <servlet-class>ru.kpfu.itis.ServletForm</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletDBTable</servlet-name>
        <servlet-class>ru.kpfu.itis.ServletDBTable</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletForm</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletDBTable</servlet-name>
        <url-pattern>/table</url-pattern>
    </servlet-mapping>
</web-app>