#scrollup {
    position: fixed;
    opacity: 0.8;
    padding: 15px 10px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left: 10px;
    bottom: 10px;
    display: none;
    cursor: pointer;
    margin-left: 85%;
    margin-bottom: 100px;
}

#scrolldown{
    position: fixed;
    opacity: 0.8;
    padding: 15px 10px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    left: 10px;
    bottom: 10px;
    display: none;
    cursor: pointer;
    margin-left: 85%;
}